.SignupContainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr 0.3fr 2fr 0.15fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "content1 content2"
        "footer footer";
}


.SignupHeader {
    background-color: rgb(24, 24, 71);
    grid-area: header;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.SignupLeader {
    font-weight: bold;
    margin-left: 7px;
}

.SignupNav {
    background-color: white;
    grid-area: nav;
}


.SignupContent1 {
    background-color: rgb(250, 255, 255);
    grid-area: content1;
}

.SignupContent2 {
    background-color: rgb(250, 255, 255);
    grid-area: content2;
}

.SignupFooter {
    background-color: rgb(24, 24, 71);
    grid-area: footer;
}


@media only screen and (max-width: 400px) {
    .SignupContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.3fr 2fr 2fr 0.2fr;
        grid-template-areas:
            "header"
            "nav"
            "content1"
            "content2"
            "footer";
    }
}