.sidebar {
    display: flex;
    position: sticky !important;
    left: 0%;
    color: black;
    height: 100vh;
    background-color: #a3a9fb;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 80px;
    /* Adjust width when collapsed */
}

.sidebar .menu-item {
    font-size: 18px;
    margin-bottom: 20px;
    /* Increase vertical spacing between menu items */
}